<a href="https://colab.research.google.com/github/soficab/Data-Analytics-con-Python-GCBA2/blob/main/Clase_2_actividades.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 - Estructuras de Datos


a. Crear una lista llamada numeros que contenga los números del 1 al 10.

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

b- Crear una tupla llamada meses que contenga los nombres de los 12 meses del año.

In [ ]:
meses = ('Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre')
print(meses)

('Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre')

Crear un conjunto llamado numeros_unicos con algunos números, asegurándose de que no haya duplicados.c-

In [ ]:
notas = {"Juan":7,"Maria":8,"Pedro":9}

print(notas)

{'Juan': 7, 'Maria': 8, 'Pedro': 9}

d-

In [ ]:
numeros_unicos = {22,44,44,4, 5,7,8,8, 3, 2}
print(numeros_unicos)

{2, 3, 4, 5, 7, 8, 44, 22}

# 2 - Modificación y Acceso

a. Modificar uno de los valores del diccionario notas (cambiar la nota de uno de los estudiantes).

In [ ]:
# Cambiar la nota de Luis
notas["Juan"] = 6

# Agregar un nuevo estudiante
notas["Maria"] = 10

# Eliminar a Ana
del notas["Pedro"]

print(notas)

{'Juan': 7, 'Maria': 8, 'Pedro': 9}

b. Acceder a los elementos de la lista numeros y mostrar todos los números pares utilizando un bucle.

In [ ]:

numeros = [1,2,3,4,5,6,7,8,9,10]
print(numeros)

for n in numeros:        # recorremos cada número en la lista
    if numero % 2 == 0:       # verificamos si es divisible por 2
        print(numero)         # mostramos el número

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

c. Acceder al primer mes de la tupla meses y al último mes. Mostrar ambos

In [ ]:
print("Primer mes:", meses[0], "- Último mes:", meses[-1])

Primer mes: Enero - Último mes: Diciembre

# 3 - Funciones Normales y Funciones Lambda

a. Definir una función normal llamada multiplicar_por_dos que tome un número y lo multiplique por 2. Utilizar esta función para crear una nueva lista llamada dobles, que contenga los dobles de los números en la lista numeros.

In [ ]:
# Lista original
numeros = [1, 2, 3, 4, 5]

# 1. Definir la función normal
def multiplicar_por_dos(n):
    return n * 2

dobles = []

for numero in numeros:
    resultado = multiplicar_por_dos(numero)   # guardo el resultado
    print(f"El doble de  {numero},  es {resultado}")  # lo muestro
    dobles.append(resultado)  # agrego a la lista final

print("Lista final de dobles:", dobles)

El doble de  1,  es 2
El doble de  2,  es 4
El doble de  3,  es 6
El doble de  4,  es 8
El doble de  5,  es 10
Lista final de dobles: [2, 4, 6, 8, 10]

b. Definir una función lambda que haga lo mismo y utilizarla para crear una nueva lista llamada dobles_lambda, que contenga los dobles de los números en la lista numeros.

In [ ]:
lista = [1,2,3,4,5]
# 1. Definir la función lambda
multiplicar_por_dos = lambda n: n * 2

# 2. Usar esa función para crear la nueva lista
dobles_lambda = []
for numero in numeros:
    dobles_lambda.append(multiplicar_por_dos(numero))

# 3. Mostrar resultado
print("Lista original:", numeros)
print("Dobles con lambda:", dobles_lambda)

Lista original: [1, 2, 3, 4, 5]
Dobles con lambda: [2, 4, 6, 8, 10]

# 4 - Comprehensions

a. Utilizar list comprehensions para crear una lista llamada cuadrados que contenga los cuadrados de los números en la lista numeros.

In [ ]:
numeros = [2, 3, 4, 5]
cuadrados = [n**2 for n in numeros] # lista
print(cuadrados)   # [1, 4, 9, 16, 25]

[4, 9, 16, 25]

b. Utilizar dict comprehensions para crear un diccionario llamado cubos que contenga los números de la lista numeros como claves y sus cubos como valores.

In [ ]:
numeros = [2, 3, 4, 5]
cubos = {n: n**3 for n in numeros} #diccionario
print(cubos)

{2: 8, 3: 27, 4: 64, 5: 125}

# 5 - Comparación de resultados.

a. Mostrar las listas dobles, dobles_lambda y cuadrados. Comparar sus resultados y argumentar cuál es el mejor método.

In [ ]:

print("Lista final de dobles:", dobles)
print("Dobles con lambda:", dobles_lambda)
print("Cuadrados (list comprehension):", cuadrados)
# Parece ser el método que crea la función lambda que multiplica por dos porque genero la función especificada multiplicar_por_dos = lambda n: n * 2. En cambio, en la funcion dict comprehension es camino es más largo.

Lista final de dobles: [2, 4, 6, 8, 10]
Dobles con lambda: [2, 4, 6, 8, 10]
Cuadrados (list comprehension): [4, 9, 16, 25]

b. Imprimir el diccionario cubos y comparar con la creación de un diccionario usando un método convencional.

In [ ]:
print("Diccionario de cubos (dict comprehension):", cubos)

Diccionario de cubos (dict comprehension): {2: 8, 3: 27, 4: 64, 5: 125}

In [ ]:
# diccionario convencional
numeros = [2, 3, 4, 5]
cubos_convencional = {} # generar un diccionario vacío
for n in numeros:
    cubos_convencional[n] = n**3

print(cubos_convencional)

{2: 8, 3: 27, 4: 64, 5: 125}